<div class="container">
    <h1 class= "my-2">Edit Patient Details </h1>
    <%= form_for @patient, :method => :PUT do |form| %>
       <div> Name: </div>
       <div><%= form.text_field :name %></div>
       <div> Disease </div>
       <div><%= form.text_field :disease %></div>
       <div> Age: </div>
       <div><%= form.number_field :age %></div>
       <div> Admitted? </div>
       <div><%= form.check_box :admitted %></div>
       <%= form.submit disable_with: "Submitting...." %>



    <% end %>



</div> 