 <div class="row my-2">
        <div class= "col"> <b>Reference Number</b> </div> 
        <div class="col"> <b><%= @patient.ref_num %></b> </div>
  </div>    
  <div class="row my-2">
        <div class="col"><b>Name</b></div>
        <div class="col"><%= @patient.name %></div>
  </div>
  <div class="row my-2">
        <div class="col"><b>Diagonosed For:</b></div>
        <div class="col"><%= @patient.disease %></div>
  </div>
  <div class="row my-2">
       <div class="col"><b>Registered at:</b></div>
       <div class="col"><%= @patient.created_at.to_formatted_s(:long)%></div>
  </div>
  <div class="row my-2">
       <div class="col"><b>Your Status:</b></div>
       <div class="col"><%= @patient.status%></div>
  </div>
  <div class="row my-2">
       <div class="col"><b>Email:</b></div>
       <div class="col"><%= @patient.email.to_s%></div>

  </div>
  <div class="row my-2">
       <div class="col"><b>Date of Birth:</b></div>
       <div class="col"><%= @patient.dob.to_s%></div>
  </div>
  <div class="row my-2">
       <div class="col"><b>Bed No.:</b></div>
       <div class="col"><%= @patient.bed_no.to_s%></div>

  </div>
  <div class="row my-2">
       <div class="col"><b>Phone:</b></div>
       <div class="col"><%= @patient.phone.to_s%></div>

  </div>
  <% if @patient.admit_emergency %>
  <div class="my-3 px-3 bg-danger text-light">
      Emergency
  </div>
  <%end %>

  <div class="my-3 row">
   <div class="col"><h3>Total Amount: </h3> </div>
   <div class="col"><%= @total %> </div>
 
</div>
