<div class="py-3 container bg-dark text-light">
   <h1> Your Patients </h1>
</div>
   <% flash.each do |name, msg| %>
      <div class="container alert-<%= name %>"><%= msg %></div>
    <% end %>



<div class="container">
  <div class="row justify-content-between">
   <a href=<%= new_patient_path %>> <div class="btn btn-primary my-2"> Add new Patient </div> </a>
   <a href="/sort"><div class="btn btn-primary my-2"> Sort </div>  </a>
   </div>
   <div class="my-2">   
       <%= form_with(url: patients_path, method: "get", local: true) do %>
               <%= label_tag(:q, "Search for:") %>
                <%=  select_tag(:option, options_for_select(["Id", "name", "Date of Birth"]))  %>
                <%= text_field_tag(:search) %>
                <div> Appointment Date : <%= date_field_tag(:appointment) %> </div>
                <%= submit_tag("Search") %>
        <% end %>

   </div>
   <table class="table">
   <thead>
       <tr>
        <th> Ref. no. </th>
        <th>Name</th>
        <th>Disease</th>
        <th>Age</th>
        <th>Status</th>
      </tr>


   </thead>

   <tbody>
    <% @patients.each do |p| %>
        
        <tr class="container border my-2 mx-2"> 
            <td><a href=<%= patient_path(p.id) %>> <%= p.ref_num %></a></td>
            <td><h2><%= p.name %></h2></td>
            <td><%= p.disease %></td>
            <td><%= p.age   %></td>
            <td><%= p.status %></td>

        </tr> 
      

    <% end %>
    </tbody>



</div>