<div class="container">
   <% flash.each do |name, msg| %>
      <div class="container alert-<%= name %>"><%= msg %></div>
    <% end %>
   
   
   <div class= "row">
   <div class="col-2 my-2">
      <a href="<%= edit_patient_path %>"> <button class="btn btn-primary">Edit Patient </button> </a>

    </div>
    <div class="col-2 my-2">
      <a href="<%= new_patient_appointment_path(@patient.id) %>"> <button class="btn btn-primary">Add an Appointment</button> </a>
    </div>
   </div> 

   <div class="row my-2">
        <div class= "col"> <b>Reference Number</b> </div> 
        <div class="col"> <b><%= @patient.ref_num %></b> </div>
  </div>    
  <div class="row my-2">
        <div class="col"><b>Name</b></div>
        <div class="col"><%= @patient.name %></div>
  </div>
  <div class="row my-2">
        <div class="col"><b>Diagonosed For:</b></div>
        <div class="col"><%= @patient.disease %></div>
  </div>
  <div class="row my-2">
       <div class="col"><b>Registered at:</b></div>
       <div class="col"><%= @patient.created_at.to_formatted_s(:long)%></div>
  </div>
  <div class="row my-2">
       <div class="col"><b>Your Status:</b></div>
       <div class="col"><%= @patient.status%></div>
  </div>
  <div class="row my-2">
       <div class="col"><b>Email:</b></div>
       <div class="col"><%= @patient.email.to_s%></div>

  </div>
  <div class="row my-2">
       <div class="col"><b>Date of Birth:</b></div>
       <div class="col"><%= @patient.dob.to_s%></div>
  </div>
  <div class="row my-2">
       <div class="col"><b>Bed No.:</b></div>
       <div class="col"><%= @patient.bed_no.to_s%></div>

  </div>
  <div class="row my-2">
       <div class="col"><b>Phone:</b></div>
       <div class="col"><%= @patient.phone.to_s%></div>

  </div>
  <% if @patient.admit_emergency %>
  <div class="my-3 px-3 bg-danger text-light">
      Emergency
  </div>
  <% end %>  
  <%= form_for :patient , url:"/patients/#{@patient.id}/change_status" , method: :post do |f|  %>
     <div class="row my-2">
     <div class="col"> <%= f.select :status, options_for_select(["Admitted", "Emergency", 'Released']), include_blank: false %></div>
     <div class="col"> <%= f.submit "Update Status", class: "btn btn-primary", disable_with: 'Update Status' %> </div>
     </div>
  <% end %>
  




    

    

<div class="my-2">
     <h2 class="my-2">Appointments Available</h2>
     
     <table class="table">
     <thead>
       <tr>
        <th> Appointment Date </th>
        <th> Appointment Time</th>
      </tr>
     </thead>
     
     
     <tbody>
     <% @appointments.each do |app| %>
          <tr class="container border my-2 mx-2"> 
            <td><%= app.date.to_s %></td>
            <td><%= app.time.to_s %></td>
          </tr>
     <% end %>
     </tbody> 
     </table>

</div>
</div>
