<!DOCTYPE html>
<html>
  <head>
    <title>HospManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
     <header class="container">
        <nav class="navbar navbar-expand navbar-light justify-content-end">
         <ul class="navbar-nav">
            <li class="mx-2"><%= link_to "Admin Panel", "/admin", method: "get" %></li>
            <% if current_user != nil || current_admin_user != nil %>
                 <li class="mx-2"><%= link_to "Dashboard", "/patients", method: "get" %></li>
                 <% if current_user != nil %>
                 <li class="mr-2"><%= link_to "Logout", logout_path, method: "delete" %></li>
                 <% end %>
            <% end %>


         </ul>
        </nav>


     </header>
     <% flash.each do |name, msg| %>
      <div class="container alert-<%= name %>"><%= msg %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
